Percolation/input10-no.png filter=lfs diff=lfs merge=lfs -text
Percolation/input10.png filter=lfs diff=lfs merge=lfs -text
Percolation/input3.png filter=lfs diff=lfs merge=lfs -text
Percolation/input5.png filter=lfs diff=lfs merge=lfs -text
Percolation/input8-no.png filter=lfs diff=lfs merge=lfs -text
Percolation/jerry47.png filter=lfs diff=lfs merge=lfs -text
Percolation/input8-dups.png filter=lfs diff=lfs merge=lfs -text
Percolation/java60.png filter=lfs diff=lfs merge=lfs -text
Percolation/input1-no.png filter=lfs diff=lfs merge=lfs -text
Percolation/input2-no.png filter=lfs diff=lfs merge=lfs -text
Percolation/input2.png filter=lfs diff=lfs merge=lfs -text
Percolation/input4.png filter=lfs diff=lfs merge=lfs -text
Percolation/input50.png filter=lfs diff=lfs merge=lfs -text
Percolation/input7.png filter=lfs diff=lfs merge=lfs -text
Percolation/sedgewick60.png filter=lfs diff=lfs merge=lfs -text
Percolation/heart25.png filter=lfs diff=lfs merge=lfs -text
Percolation/input6.png filter=lfs diff=lfs merge=lfs -text
Percolation/input8.png filter=lfs diff=lfs merge=lfs -text
Percolation/logo.png filter=lfs diff=lfs merge=lfs -text
Percolation/snake101.png filter=lfs diff=lfs merge=lfs -text
Percolation/wayne98.png filter=lfs diff=lfs merge=lfs -text
Percolation/greeting57.png filter=lfs diff=lfs merge=lfs -text
Percolation/input1.png filter=lfs diff=lfs merge=lfs -text
Percolation/input20.png filter=lfs diff=lfs merge=lfs -text
Percolation/snake13.png filter=lfs diff=lfs merge=lfs -text
